{% extends "sprakfragan/date_test_base.html" %}

{% block title %}
    Update {{ date_test }}
{% endblock %}

{% block content %}
<h1><a href={% url "date_test_list" %}>DateTest</a></h1>
<h2>Update {{ date_test }}</h2>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>
<a href={% url "date_test_detail" date_test.pk %}>Cancel</a>
<form style="display:inline;" action={% url "date_test_delete" date_test.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ date_test }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
</form>
{% endblock %}