{% extends "sprakfragan/date_test2_base.html" %}

{% block title %}
    DateTest2s
{% endblock %}

{% block content %}
    <h1>DateTest2s</h1>
    <h2><a href={% url "date_test2_create" %}>Create new DateTest2</a></h2>
    <ul>
    {% for date_test2 in date_test2_list %}
        <li><a href={% url "date_test2_detail" date_test2.pk %}>{{ date_test2 }}</a> | <a href={% url "date_test2_update" date_test2.pk %}>Update</a> | <form style="display:inline;" action={% url "date_test2_delete" date_test2.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ date_test2 }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form></li>
    {% empty %}
        <li>No DateTest2s yet.</li>
    {% endfor %}
    </ul>
{% endblock %}

