{% extends "sprakfragan/fr_fragasvar_myisam_base.html" %}

{% block title %}
    Update {{ fr_fragasvar_myisam }}
{% endblock %}

{% block content %}
<h1><a href={% url "fr_fragasvar_myisam_list" %}>FrFragasvarMyisam</a></h1>
<h2>Update {{ fr_fragasvar_myisam }}</h2>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>
<a href={% url "fr_fragasvar_myisam_detail" fr_fragasvar_myisam.pk %}>Cancel</a>
<form style="display:inline;" action={% url "fr_fragasvar_myisam_delete" fr_fragasvar_myisam.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ fr_fragasvar_myisam }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
</form>
{% endblock %}