{% extends "sprakfragan/fr_fragasvar_test1_base.html" %}

{% block title %}
    {{ fr_fragasvar_test1 }}
{% endblock %}

{% block content %}
    <h1><a href={% url "fr_fragasvar_test1_list" %}>FrFragasvarTest1</a></h1>
    <h2>{{ fr_fragasvar_test1 }} | <a href={% url "fr_fragasvar_test1_update" fr_fragasvar_test1.pk %}>Update</a> | 
    <form style="display:inline;" action={% url "fr_fragasvar_test1_delete" fr_fragasvar_test1.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ fr_fragasvar_test1 }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form>
    </h2>
{% endblock %}