{% extends "sprakfragan/fr_fragasvar_base.html" %}

{% block title %}
    {{ fr_fragasvar }}
{% endblock %}

{% block content %}
    <h1><a href={% url "fr_fragasvar_list" %}>FrFragasvar</a></h1>
    <h2>{{ fr_fragasvar }} | <a href={% url "fr_fragasvar_update" fr_fragasvar.pk %}>Update</a> | 
    <form style="display:inline;" action={% url "fr_fragasvar_delete" fr_fragasvar.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ fr_fragasvar }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form>
    </h2>
{% endblock %}