{% extends "sprakfragan/nyckelord_base.html" %}

{% block title %}
    Update {{ nyckelord }}
{% endblock %}

{% block content %}
<h1><a href={% url "nyckelord_list" %}>Nyckelord</a></h1>
<h2>Update {{ nyckelord }}</h2>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>
<a href={% url "nyckelord_detail" nyckelord.pk %}>Cancel</a>
<form style="display:inline;" action={% url "nyckelord_delete" nyckelord.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ nyckelord }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
</form>
{% endblock %}